/****Pagina=Productos****/
.tituloprincipal {
    @include tipografia (italic, 800, 50px, left);
    @include margin-padding(30px, 20px);
}

#productosdestacados {
    @include margin-padding(30px, 20px);
    @include grid(2fr 2fr 2fr, 2fr 2fr, 30px, 20px);
    align-items: center;
    justify-content: center;
    height: auto;

    figure {
        position: relative;
        @include size(auto, auto);
        overflow: hidden;
        border-radius: $border-radius-figure;
        box-shadow: $border-shadow-figure;
        cursor: pointer;

        img {
            @include size(100%, 100%);
            transition: $transicion;
        }
    }

    .tortas {
        position: relative;
        @include flex(column, center, center);

        .titulo_torta {
            position: absolute;
            top: 0;
            @include size(100%, 100%);
            background: $color-transicion;
            transition: $transicion;
            text-align: center;
            @include transicion(0, hidden);

            & h2 {
                color: #fff;
                font-weight: 400;
                margin-bottom: 120px;
                transition: $transicion;
            }
        }

        figure:hover>.titulo_torta {
            @include transicion(1, visible);
        }

        figure:hover>.titulo_torta h2 {
            @include margin-titulo(70px, 15px);
        }

        figure:hover>img {
            transform: $transform;
        }
    }

    .postres {
        position: relative;
        @include flex(column, center, center);

        .titulo_postres {
            position: absolute;
            top: 0;
            @include size(100%, 100%);
            background: $color-transicion;
            transition: $transicion;
            @include transicion(0, hidden);
            text-align: center;

            & h2 {
                color: #fff;
                font-weight: 400;
                margin-bottom: 120px;
                transition: $transicion;
            }
        }

        figure:hover>.titulo_postres {
            @include transicion(1, visible);
        }

        figure:hover>.titulo_postres h2 {
            @include margin-titulo(70px, 15px);
        }

        figure:hover>img {
            transform: $transform;
        }
    }

    .fiestas {
        position: relative;
        @include flex(column, center, center);

        .titulo_fiestas {
            position: absolute;
            top: 0;
            @include size(100%, 100%);
            background: $color-transicion;
            transition: $transicion;
            @include transicion(0, hidden);
            text-align: center;

            & h2 {
                color: #fff;
                font-weight: 400;
                margin-bottom: 120px;
                transition: $transicion;
            }
        }

        figure:hover>.titulo_fiestas {
            @include transicion(1, visible);
        }

        figure:hover>.titulo_fiestas h2 {
            @include margin-titulo(70px, 15px);
        }

        figure:hover>img {
            transform: $transform;
        }
    }

    .cookies {
        position: relative;
        @include flex(column, center, center);

        .titulo_cookies {
            position: absolute;
            top: 0;
            @include size(100%, 100%);
            background: $color-transicion;
            transition: $transicion;
            @include transicion(0, hidden);
            text-align: center;

            & h2 {
                color: #fff;
                font-weight: 400;
                margin-bottom: 120px;
                transition: $transicion;
            }
        }

        figure:hover>.titulo_cookies {
            @include transicion(1, visible);
        }

        figure:hover>.titulo_cookies h2 {
            @include margin-titulo(70px, 15px);
        }

        figure:hover>img {
            transform: $transform;
        }
    }
}

.tartas {
    position: relative;
    @include flex(column, center, center);

    .titulo_tartas {
        position: absolute;
        top: 0;
        @include size(100%, 100%);
        background: $color-transicion;
        transition: $transicion;
        @include transicion(0, hidden);
        text-align: center;

        & h2 {
            color: #fff;
            font-weight: 400;
            margin-bottom: 120px;
            transition: $transicion;
        }
    }

    figure:hover>.titulo_tartas {
        @include transicion(1, visible);
    }

    figure:hover>.titulo_tartas h2 {
        @include margin-titulo(70px, 15px);
    }

    figure:hover>img {
        transform: $transform;
    }
}

.variedades {
    position: relative;
    @include flex(column, center, center);

    .titulo_variedades {
        position: absolute;
        top: 0;
        @include size(100%, 100%);
        background: $color-transicion;
        transition: $transicion;
        @include transicion(0, hidden);
        text-align: center;

        & h2 {
            color: #fff;
            font-weight: 400;
            margin-bottom: 120px;
            transition: $transicion;
        }
    }

    figure:hover>.titulo_variedades {
        @include transicion(1, visible);
    }

    figure:hover>.titulo_variedades h2 {
        @include margin-titulo(70px, 15px);
    }

    figure:hover>img {
        transform: $transform;
    }
}



//MEDIA QUERIES
/*TABLET*/
@media (max-width: 768px) {
    .tituloprincipal {
        @include margin-padding(15px, 10px);
        @include tipografia (italic, 600, 40px, left);
    }

    #productosdestacados {
        @include margin-padding(20px, 10px);
        @include grid(2fr 2fr, 1fr, 20px, 20px);
        height: auto;

        .tortas {
            margin: auto;
            @include flex(column, center, center);
        }

        .postres {
            margin: auto;
            @include flex(column, center, center);
        }

        .fiestas {
            margin: auto;
            @include flex(column, center, center);
        }

        .variedades {
            margin: auto;
            @include flex(column, center, center);
        }
    }
}


/*MOBILE*/
@media (max-width: 320px) {
    .tituloprincipal {
        @include margin-padding(15px, 5px);
        @include tipografia (italic, 600, 40px, left);
    }

    #productosdestacados {
        @include margin-padding(10px, 10px);
        @include grid(4fr, 1fr, 1px, 30px);
        height: auto;
        justify-content: center;

        img {
            @include size(auto, auto);
        }
    }
}



