/****Pagina=Productos****/
.tituloprincipal {
    @include tipografia (italic, 800, 50px, center);
    @include margin-padding(30px, 20px);
}

#productosdestacados {
    @include margin-padding(30px, 20px);
    @include grid(2fr 2fr, 2fr 2fr, 50px, 20px);
    align-items: center;
    justify-content: center;
    height: auto;

    figure {
        position: relative;
        @include size(auto, auto);
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(9, 9, 9, 0.5);
        cursor: pointer;

        img {
            @include size(100%, 100%);
            transition: all 500ms ease-in-out;
        }
    }

    .tortas {
        position: relative;
        @include flex(column, center, center);

        .titulo_torta {
            position: absolute;
            top: 0;
            @include size(100%, 100%);
            background: $color-principal;
            transition: all 500ms ease-in-out;
            opacity: 0;
            visibility: hidden;
            text-align: center;

            & h2 {
                color: #fff;
                font-weight: 400;
                margin-bottom: 120px;
                transition: all 500ms ease-in-out;
            }
        }

        figure:hover>.titulo_torta {
            opacity: 1;
            visibility: visible;
        }

        figure:hover>.titulo_torta h2 {
            margin-top: 70px;
            margin-bottom: 15px;
        }

        figure:hover>img {
            transform: scale(1.3);
        }
    }

}

.postres {
    @include flex(column, center, center);

    .titulo_postre {
        position: absolute;
        top: 0;
        @include size(100%, 100%);
        background: $color-principal;
        transition: $transicion;
        opacity: 0;
        visibility: hidden;
        text-align: center;

        & h2 {
            color: #fff;
            font-weight: 400;
            margin-bottom: 120px;
            transition: $transicion;
        }
    }

    figure:hover>.titulo_postre {
        opacity: 1;
        visibility: visible;
    }

    figure:hover>.titulo_postre h2 {
        margin-top: 70px;
        margin-bottom: 15px;
    }

    figure:hover>img {
        transform: scale(1.3);
    }
}

.fiestas {

    @include flex(column, center, center);

    .titulo_fiestas {
        position: absolute;
        top: 0;
        @include size(100%, 100%);
        background: $color-principal;
        transition: $transicion;
        opacity: 0;
        visibility: hidden;
        text-align: center;

        & h2 {
            color: #fff;
            font-weight: 400;
            margin-bottom: 120px;
            transition: $transicion;
        }
    }

    figure:hover>.titulo_fiestas {
        opacity: 1;
        visibility: visible;
    }

    figure:hover>.titulo_fiestas h2 {
        margin-top: 70px;
        margin-bottom: 15px;
    }

    figure:hover>img {
        transform: scale(1.3);
    }

}

.variedades {

    @include flex(column, center, center);

    .titulo_variedad {
        position: absolute;
        top: 0;
        @include size(100%, 100%);
        background: $color-principal;
        transition: $transicion;
        opacity: 0;
        visibility: hidden;
        text-align: center;

        & h2 {
            color: #fff;
            font-weight: 400;
            margin-bottom: 120px;
            transition: $transicion;
        }
    }

    figure:hover>.titulo_variedad {
        opacity: 1;
        visibility: visible;
    }

    figure:hover>.titulo_variedad h2 {
        margin-top: 70px;
        margin-bottom: 15px;
    }

    figure:hover>img {
        transform: scale(1.3);
    }
}



//MEDIA QUERIES
/*TABLET*/
@media (max-width: 768px) {
    .tituloprincipal {
        @include margin-padding(15px, 10px);
        @include tipografia (italic, 600, 40px, left);
    }

    #productosdestacados {
        @include margin-padding(20px, 10px);
        @include grid(5fr, 2fr, 5px, 30px);
        height: auto;

        .tortas {
            @include flex(column, center, center);
        }

        .postres {
            @include flex(column, center, center);
        }

        .fiestas {
            @include flex(column, center, center);
        }

        .variedades {
            @include flex(column, center, center);
        }
    }
}


/*MOBILE*/
@media (max-width: 320px) {
    .tituloprincipal {
        @include margin-padding(15px, 5px);
        @include tipografia (italic, 600, 40px, left);
    }

    #productosdestacados {
        @include margin-padding(10px, 10px);
        @include grid(5fr, 2fr, 5px, 30px);
        height: auto;
        justify-content: center;

        img {
            @include size(auto, auto);
        }
    }
}