/****Pagina=Productos****/
.tituloprincipal {
    @include tipografia (italic, 800, 50px, center);
    @include margin-padding(30px, 20px);
}

#productosdestacados {
    @include margin-padding(30px, 20px);
    @include grid(5fr 5fr, 2fr 2fr, 50px, 20px);
    align-items: start;
    height: auto;

    img {
        @include size(auto, auto);
        margin-bottom: 10px;
    }

    .tortas {
        @include flex(column, center, space-evenly);

        h2 {
            @include tipografia (italic, 500, 35px, center);
        }
    }

    .postres {
        @include flex(column, center, space-evenly);

        h2 {
            @include tipografia (italic, 500, 35px, center);
        }
    }

    .fiestas {
        @include flex(column, center, space-evenly);

        h2 {
            @include tipografia (italic, 500, 35px, center);
        }
    }

    .variedades {
        @include flex(column, center, space-evenly);

        h2 {
            @include tipografia (italic, 500, 35px, center);
        }

        img {
            @include size(300px, auto);
        }
    }
}


//MEDIA QUERIES
/*TABLET*/
@media (max-width: 768px) {
    .tituloprincipal {
        @include margin-padding(15px, 10px);
        @include tipografia (italic, 600, 40px, left);
    }

    #productosdestacados {
        @include margin-padding(20px, 10px);
        @include grid(5fr, 2fr, 5px, 30px);
        height: auto;

        img {
            box-shadow: $img-shadow;
            @include size(auto, auto);
            margin-bottom: 10px;
        }

        .tortas {
            @include flex(column, center, center);
        }

        .postres {
            @include flex(column, center, center);
        }

        .fiestas {
            @include flex(column, center, center);
        }

        .variedades {
            @include flex(column, center, center);
        }
    }
}


/*MOBILE*/
@media (max-width: 320px) {
    .tituloprincipal {
        @include margin-padding(15px, 5px);
        @include tipografia (italic, 600, 40px, left);
    }

    #productosdestacados {
        @include margin-padding(10px, 10px);
        @include grid(5fr, 2fr, 5px, 30px);
        height: auto;
        justify-content: center;

        img {
            @include size(auto, auto);
            margin-bottom: 10px;
        }

        .tortas {
            h2 {
                @include tipografia (italic, 500, 30px, center);
            }
        }

        .postres {
            h2 {
                @include tipografia (italic, 500, 30px, center);
            }
        }

        .fiestas {
            h2 {
                @include tipografia (italic, 500, 30px, center);
            }
        }

        .variedades {
            h2 {
                @include tipografia (italic, 500, 30px, center);
            }
        }
    }
}