/****Página:Quienes Somos****/
#presentacion {
    @include margin-padding(50px, 80px);
    @include flex(column, center, center);

    h1 {
        @include margin-padding(15px, 20px);
        @include tipografia (italic, 800, 50px, center);
    }
}

.parrafo {
    @include margin-padding(20px, 20px);
    @include tipografia (normal, 400, 2rem, justify-content);
    line-height: 40px;
}


//MEDIA QUERIES
/*TABLET*/
@media (max-width: 768px) {
    #presentacion {
        @include margin-padding(0, 10px);
        @include flex(column, center, flex-start);

        h1 {
            @include margin-padding(auto, auto);
            @include tipografia (italic, 700, 40px, center);
        }
    }

    .parrafo {
        @include margin-padding(auto, auto);
        @include tipografia (normal, 200, 30px, justify-content);
        line-height: 30px;
    }
}


/*MOBILE*/
@media (max-width: 320px) {

    /*Página=quienes somos*/
    #presentacion {
        @include margin-padding(0, 10px);
        @include flex(column, flex-start, flex-start);

        h1 {
            @include margin-padding(auto, auto);
            @include tipografia (italic, 700, 40px, left);
        }
    }

    .parrafo1 {
        @include margin-padding(auto, auto);
        @include tipografia (normal, 300, 25px, left);
        line-height: 25px;
    }
}