/*Boton footer*/
.botonarriba {
    width: 100%;
    @include margin-padding(10px, 15px);
    @include tipografia (normal, 400, 25px, center);
    @include flex(column, center, space-evenly);
}

/*Boton Quienes Somos*/
.button {
    @include margin-padding(20px, 10px);
    @include tipografia (normal, 600, 50px, center);
    border-width: 3px;
    border-style: outset;
    border-color: aquamarine;
}


//MEDIA QUERIES
/*TABLET*/
@media (max-width: 768px) {
    .button {
        @include tipografia (normal, 600, 35px, center);
        border-width: 3px;
        border-style: outset;
        border-color: rgb(108, 158, 252);
    }
}

/*MOBILE*/
@media (max-width: 320px) {
    .button {
        width: auto;
        @include tipografia (normal, 600, 35px, center);
        border-width: 3px;
        border-style: outset;
        border-color: rgb(108, 158, 252);
    }
}