/*Boton formulario*/
.botones input {
    font-size: 30px;
}


//MEDIA QUERIES
/*TABLET*/
@media (max-width: 768px) {
    .botones input {
        font-size: 25px;
    }
}

/*MOBILE*/
@media (max-width: 320px) {
    .botones input {
        font-size: 25px;
    }
}