/****footer****/
footer {
    background-color: $color-footer-primario;
    background-image: $image-footer-primario;

    @include flex(column, center, center);
    width: 100%;
    padding: 30px 0;

    .titulofooter {
        @include margin-padding(5px, 2px);
    }

    .footercolumns {
        @include flex(row, flex-start, space-around);
        width: 100%;
        padding-bottom: 20px;

        .footerEnlaces {
            ul {
                @include margin-padding(5px, 2px);
                list-style: none;

                li {
                    @include tipografia (normal, 500, 20px, left);
                }
            }
        }

        .footerPagos {
            ul {
                @include margin-padding(5px, 2px);
                list-style: none;
                @include flex(column, flex-start, space-around);

                li {
                    @include tipografia (normal, 400, 25px, left);

                    img {
                        width: 70px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .footerRedes {
            ul {
                @include margin-padding(5px, 2px);
                list-style: none;
                @include flex(row, flex-start, space-evenly);

                img {
                    @include margin-padding(15px, 10px);
                    width: 80px;
                }
            }

            h3 {
                @include tipografia (normal, 500, 30px, center);
            }
        }
    }
}



//MEDIA QUERIES
/*TABLET*/
@media (max-width: 768px) {

    .footercolumns {
        @include flex(row, baseline, space-around);
        width: 100%;
        padding-bottom: 20px;

        .footerRedes {
            h3 {
                @include tipografia (normal, 500, 25px, center);
            }
        }
    }
}


/*MOBILE*/
@media (max-width: 320px) {
    .footercolumns {
        @include flex(column, flex-start, space-around);
        width: 100%;
        padding-bottom: 20px;

        .footerRedes {
            h3 {
                @include margin-padding(5px, 2px);
                @include tipografia (normal, 500, 25px, center);
            }
        }
    }
}