/****header****/
header {
    background-color: #f68b7b;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 110px;
        height: 120px;
        margin: 5px;
        padding: 5px;
    }

    nav ul {
        margin: 15px;
        padding: 10px;
        list-style-type: none;
        display: flex;
        justify-content: center;

        li {
            margin: 5px;
            padding: 30px;
            font-style: italic;
            font-weight: 400;
            font-size: 25px;
        }
    }
}


/*TABLET*/

@media (max-width: 768px) {
    header {
        background-color: rgb(90, 255, 222);
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        nav ul {
            margin: 15px;
            padding: 10px;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            li {
                padding: 2px;
            }
        }
    }
}



/*MOBILE*/

@media (max-width: 320px) {

    /*Header*/
    header {
        background-color: rgb(147, 253, 231);
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        nav ul {
            margin: 15px;
            padding: 10px;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            li {
                padding: 10px;
            }
        }
    }
}