/****header****/
header {
    background-color: $color-primario-nav;
    top: 0;
    width: 100%;
    @include flex(row, center, space-between);

    .logo {
        @include size (110px, 120px);
        @include margin-padding(5px, 5px);
    }

    nav ul {
        list-style-type: none;
        @include margin-padding(15px, 10px);
        @include flex(row, center, center);

        li {
            @include margin-padding(5px, 30px);
            @include tipografia (italic, 400, 25px, center);
        }
    }
}


//MEDIA QUERIES
/*TABLET*/
@media (max-width: 768px) {
    header {
        background-color: $color-secundario-nav;
        top: 0;
        width: 100%;
        @include flex(column, flex-start, center);

        nav ul {
            list-style-type: none;
            @include margin-padding(15px, 10px);
            @include flex(column, flex-start, center);

            li {
                padding: 2px;
                @include tipografia (italic, 400, 30px, center);
            }
        }
    }
}


/*MOBILE*/
@media (max-width: 320px) {
    header {
        background-color: $color-secundario-nav;
        top: 0;
        width: 100%;
        @include flex(column, flex-start, center);

        nav ul {
            list-style-type: none;
            @include margin-padding(15px, 10px);
            @include flex(column, flex-start, center);

            li {
                padding: 10px;
                @include tipografia (italic, 500, 40px, center);
            }
        }
    }
}