/****Media Query****/
/****Adaptacion Tablet hasta 768px****/

@media (max-width: 768px) {
    header {
        background-color: rgb(90, 255, 222);
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        nav ul {
            margin: 15px;
            padding: 10px;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            li {
                padding: 2px;
            }
        }
    }

    .footercolumns {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        width: 100%;
        padding-bottom: 20px;
    }

    .footerRedes h2 {
        margin: 5px;
        padding: 2px;
        font-size: 25px;
        text-align: center;
        font-weight: 500;
    }

    /*Index*/

    .Producto1 {
        margin: 20px;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .Producto2 {
        margin: 20px;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .Producto3 {
        margin: 20px;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #productos {
        h2 {
            font-style: italic;
            font-weight: 600;
            font-size: 30px;
        }

        p {
            font-style: normal;
            font-size: 25px;
            font-weight: 400;
        }

        img {
            margin: 10px;
            padding: 5px;
        }
    }

    /*Pagina Productos*/

    #productosdestacados {
        margin: 50px auto;
        padding: 20px;
        height: auto;
        display: grid;
        grid-template-columns: 5fr;

        img {
            box-shadow: 10px 5px 5px rgb(159, 159, 159);
            height: auto;
            width: auto;
        }
    }

    .tortas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .postres {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fiestas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .variedades {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tituloprincipal {
        margin: 15px;
        padding: 10px;
        font-style: italic;
        font-weight: 600;
        font-size: 40px;
    }

    /*pagina=quienes somos*/
    #presentacion {
        margin: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        h1 {
            font-style: italic;
            font-weight: 700;
            font-size: 40px;
            margin: auto;
            padding: auto;
        }
    }

    .button {
        font-weight: 600;
        font-size: 35px;
        border-width: 3px;
        border-style: outset;
        border-color: rgb(108, 158, 252);
    }

    .parrafo1 {
        margin: auto;
        padding: auto;
        font-style: normal;
        font-size: 30px;
        font-weight: 200;
        line-height: 30px;
    }

    .parrafo2 {
        margin: auto;
        padding: auto;
        font-style: normal;
        font-size: 30px;
        font-weight: 200;
        line-height: 30px;
    }

    /*Pagina=contacto*/
    #formulario {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: auto;
        padding: 15px;
        font-size: 60px;
        font-weight: 300;
        font-style: normal;
    }

    .botones input {
        font-size: 20px;
    }

    .contactanos h1 {
        margin: auto;
        padding: auto;
        font-style: italic;
        font-weight: 700;
        font-size: 35px;
    }

    .contactanos h2 {
        margin: auto;
        font-style: italic;
        font-weight: 500;
        font-size: 2rem;
    }

    fieldset {
        margin: auto;
        padding: auto;
        font-size: 45%;
    }

    /*Pagina=proximamente*/

    .proximamente {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .proximamente h1 {
        font-style: italic;
        font-weight: 500;
        font-size: 40px;
        margin: 0;
        padding: 0;
    }

    .proximamente h2 {
        font-style: italic;
        font-weight: 400;
        font-size: 30px;
        margin: 0;
        padding: 0;
    }
}


/****Adaptacion Movile hasta 320px****/

@media (max-width: 320px) {

    /*Header*/
    header {
        background-color: rgb(147, 253, 231);
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        nav ul {
            margin: 15px;
            padding: 10px;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            li {
                padding: 10px;
            }
        }
    }

    /*Footer*/
    .footercolumns {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 20px;
    }

    .footerRedes h2 {
        margin: 5px;
        padding: 2px;
        font-size: 25px;
        text-align: center;
        font-weight: 500;
    }

    /*Index*/
    .Producto1 {
        margin: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
    }

    .Producto2 {
        margin: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .Producto3 {
        margin: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
    }

    #productos {
        h2 {
            font-style: italic;
            font-weight: 500;
            font-size: 25px;
        }

        p {
            font-style: normal;
            font-size: 20px;
            font-weight: 400;
        }
    }

    .portada {
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            text-align: center;
            font-size: 40px;
            font-style: italic;
            font-weight: 500;
        }

        p {
            text-align: center;
            font-size: 30px;
            max-width: 90%;
            margin: 30px 0;
        }
    }

    .tituloprincipal {
        font-style: italic;
        font-weight: 800;
        font-size: 50px;
        margin: 20px 15px 15px 20px;
        padding: 10px 0;
    }

    /*Pagina Productos*/

    #productosdestacados {
        margin: 10px;
        padding: 10px;
        height: auto;
        display: grid;
        justify-content: center;
        grid-template-columns: 5fr;

        img {
            box-shadow: 10px 5px 5px rgb(159, 159, 159);
            height: auto;
            width: auto;
        }
    }

    .tortas {
        h2 {
            font-style: italic;
            font-weight: 500;
            font-size: 30px;
        }

        p {
            font-style: normal;
            text-align: center;
            font-size: 25px;
            font-weight: 500;
            line-height: 25px;
        }
    }

    .postres {
        h2 {
            font-style: italic;
            font-weight: 500;
            font-size: 30px;
        }

        p {
            font-style: normal;
            text-align: center;
            font-size: 25px;
            font-weight: 500;
            line-height: 25px;
        }
    }

    .fiestas {
        h2 {
            font-style: italic;
            font-weight: 500;
            font-size: 30px;
        }

        p {
            font-style: normal;
            text-align: center;
            font-size: 25px;
            font-weight: 500;
            line-height: 25px;
        }
    }

    .variedades {
        h2 {
            font-style: italic;
            font-weight: 500;
            font-size: 30px;
        }

        p {
            font-style: normal;
            text-align: center;
            font-size: 25px;
            font-weight: 500;
            line-height: 25px;
        }
    }

    .tituloprincipal {
        margin: 15px;
        padding: 5px;
        font-style: italic;
        font-weight: 600;
        font-size: 40px;
    }

    /*pagina=quienes somos*/
    #presentacion {
        margin: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h1 {
            font-style: italic;
            font-weight: 700;
            font-size: 40px;
            margin: auto;
            padding: auto;
        }
    }

    .button {
        font-weight: 600;
        font-size: 35px;
        border-width: 3px;
        border-style: outset;
        border-color: rgb(108, 158, 252);
    }

    .parrafo1 {
        margin: auto;
        padding: auto;
        font-style: normal;
        font-size: 25px;
        font-weight: 300;
        line-height: 25px;
    }

    .parrafo2 {
        margin: auto;
        padding: auto;
        font-style: normal;
        font-size: 25px;
        font-weight: 300;
        line-height: 25px;
    }

    /*Pagina=contacto*/
    #formulario {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: auto;
        padding: 20px;
        font-size: 40px;
        font-weight: 300;
        font-style: normal;
    }

    .botones input {
        font-size: 20px;
    }

    .contactanos h1 {
        margin: auto;
        padding: auto;
        font-style: italic;
        font-weight: 700;
        font-size: 30px;
    }

    .contactanos h2 {
        margin: auto;
        font-style: italic;
        font-weight: 500;
        font-size: 2rem;
    }

    fieldset {
        margin: auto;
        padding: auto;
        font-size: 40%;
    }

    /*Pagina=proximamente*/

    .proximamente {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h1 {
            font-style: italic;
            font-weight: 500;
            font-size: 25px;
            margin: 0;
            padding: 0;
        }

        h2 {
            font-style: italic;
            font-weight: 400;
            font-size: 20px;
            margin: 0;
            padding: 0;
        }
    }

}