/****Pagina=Contacto****/
#formulario {
    @include flex(column, flex-start, center);
    @include margin-padding(25px, 20px);

    .contactanos h1 {
        @include margin-padding(10px, 10px);
        @include tipografia (italic, 800, 50px, left);
    }

    .contactanos h2 {
        @include margin-padding(10px, 10px);
        @include tipografia (italic, 500, 35px, left);
    }

    form {
        width: 100%;
        padding: 2px;
        border-radius: $border-radius-form;
        background-color: $background-color-form;

        fieldset {
            @include margin-padding(20px, 15px);
            @include tipografia (italic, 400, 2.5rem, left);
        }

        input {
            padding: 5px;
        }

        textarea {
            padding: 5px;
            @include size (550px, 300px);
        }

        label {
            display: block;
            padding: 5px;
        }
    }
}


//MEDIA QUERIES
/*TABLET*/
@media (max-width: 768px) {
    #formulario {
        form {
            width: 100%;
            padding: 2px;
            border-radius: $border-radius-form;
            background-color: $background-color-form;

            input {
                padding: 5px;
            }

            textarea {
                padding: 5px;
                @include size (550px, 300px);
            }

            label {
                display: block;
                padding: 5px;
            }
        }
    }
}


/*MOBILE*/
@media (max-width: 320px) {
    #formulario {
        .contactanos h1 {
            @include margin-padding(5px, 5px);
            @include tipografia (italic, 800, 50px, left);
        }

        .contactanos h2 {
            @include margin-padding(10px, 10px);
            @include tipografia (italic, 500, 45px, left);
        }

        form {
            width: 100%;
            padding: 2px;
            border-radius: $border-radius-form;
            background-color: $background-color-form-mobile;

            input {
                padding: 10px;
            }

            textarea {
                padding: 10px;
                @include size (550px, 300px);
            }

            label {
                display: block;
                padding: 10px;
            }
        }
    }
}