/**INDEX*/
/****Portada****/

.portada {
    height: 40vh;
    background: url(../img/fondo-portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(column, center, center);

    h1 {
        @include margin-padding(5px, 2px);
        @include tipografia (italic, 700, 60px, center);
    }

    h2 {
        @include margin-padding(5px, 2px);
        @include tipografia (normal, 500, 40px, center);
        max-width: 90%;
    }
}


/****Sección Productos****/
#productos {
    @include margin-padding(100px, 10px);
    @include flex(column, center, center);

    h2 {
        @include tipografia (italic, 500, 35px, left);
    }

    p {
        @include tipografia (normal, 400, 2rem, left);
    }

    img {
        @include margin-padding(15px, 10px);
        border-radius: 20px;
    }

    article {
        @include margin-padding(10px, 5px);
    }
}

.Producto1 {
    @include margin-padding(10px, 5px);
    @include flex(row, center, space-around);
    border-radius: $border-radius-index;
    box-shadow: $box-shadow-index;
}


.Producto2 {
    @include margin-padding(10px, 5px);
    @include flex(row, center, space-around);
    border-radius: $border-radius-index;
    box-shadow: $box-shadow-index;
}

.Producto3 {
    @include margin-padding(10px, 5px);
    @include flex(row, center, space-around);
    border-radius: $border-radius-index;
    box-shadow: $box-shadow-index;
}


//MEDIA QUERIES
/*TABLET*/
@media (max-width: 768px) {
    .palabra {
        font-weight: 800;
    }

    #productos {
        h2 {
            @include tipografia (italic, 600, 30px, left);
        }

        p {
            @include tipografia (normal, 400, 24px, left);
        }

        img {
            @include margin-padding(10px, 10px);
            border-radius: 20px;
        }
    }
}

/*MOBILE*/
@media (max-width: 320px) {
    .Producto1 {

        @include flex(column, center, center);
        border-radius: $border-radius-index;
        box-shadow: $box-shadow-index;
    }

    .Producto2 {

        @include flex(column-reverse, center, center);
        border-radius: $border-radius-index;
        box-shadow: $box-shadow-index;
    }

    .Producto3 {

        @include flex(column, center, center);
        border-radius: $border-radius-index;
        box-shadow: $box-shadow-index;
    }

    #productos {
        margin-top: 2px;

        h2 {
            @include tipografia (italic, 600, 2.5rem, center);
        }

        p {
            @include tipografia (normal, 500, 2.5rem, center);
        }

        img {
            border-radius: 50px;
        }
    }

    .portada {
        height: 40vh;
        @include flex(column, center, center);

        h1 {
            @include tipografia (italic, 600, 50px, center);
        }

        h2 {
            @include tipografia (normal, 500, 40px, center);
        }
    }
}