//ESTILOS DE TEXTO PARA TITULOS H2 Y PARRAFO//
@mixin tipografia($style, $weight, $size, $align) {
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    text-align: $align;
}
//ESTILOS BORDES
@mixin border ($width,$style,$color){
    border-width: $width;
    border-style: $style;
    border-color: $color;
}

//MARGIN Y PADDING//
@mixin margin-padding($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

//TAMAÑO//
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

//ESTILOS FLEX//
@mixin flex($direction, $items, $content) {
    display: flex;
    flex-direction: $direction;
    align-items: $items;
    justify-content: $content;
}

//ESTILOS GRID//
@mixin grid($colums, $rows, $column-gap, $row-gap) {
    display: grid;
    grid-template-columns: $colums;
    grid-template-rows: $rows;
    column-gap: $column-gap;
    row-gap: $row-gap;
}





