//Tipografia
$estilo-texto: "Zilla Slab", serif;

//Estilo img
$img-shadow: 10px 5px 5px rgb(140, 139, 139);

//Colors
$color-nav-primario: #FAACA8;
$image-nav-primario: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

$color-nav-secundario: #74EBD5;
$image-nav-secundario: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);


$color-footer-primario: #FBDA61;
$image-footer-primario: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);


$color-fondo: #fbf5fa;

//Estilo sombras
$border-radius: 80px;
$box-shadow: rgba(38, 38, 60, 0.25) 0px 6px 12px -2px, rgba(7, 7, 7, 0.3) 0px 3px 7px -3px;