/******ESTILOS DE TEXTO PARA TITULOS H2 Y PARRAFO===

h1 {
    font-style: italic;
    font-weight: 800;
    font-size: 50px;
}

h2 {
    font-style: italic;
    font-weight: 500;
    font-size: 35px;
}

p {
    font-style: normal;
    font-size: 2rem;
    font-weight: 400;
}
*******************/
