/****selector universal****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****estilos globales****/
body {
    background-color: $color-fondo;
    font-family: $estilo-texto;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;

    a {
        text-decoration: none;
    }
}