@charset "UTF-8";
/****selector universal****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/****estilos globales****/
body {
  background-color: #fbf5fa;
  font-family: "Zilla Slab", serif;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
body a {
  text-decoration: none;
}

/*Boton footer*/
.botonarriba {
  width: 100%;
  margin: 10px;
  padding: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/*Boton Quienes Somos*/
.button {
  margin: 20px;
  padding: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  border-width: 3px;
  border-style: outset;
  border-color: aquamarine;
}

/*TABLET*/
@media (max-width: 768px) {
  .button {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    border-width: 3px;
    border-style: outset;
    border-color: rgb(108, 158, 252);
  }
}
/*MOBILE*/
@media (max-width: 320px) {
  .button {
    width: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    border-width: 3px;
    border-style: outset;
    border-color: rgb(108, 158, 252);
  }
}
/*Boton formulario*/
.botones input {
  font-size: 30px;
}

/*TABLET*/
@media (max-width: 768px) {
  .botones input {
    font-size: 25px;
  }
}
/*MOBILE*/
@media (max-width: 320px) {
  .botones input {
    font-size: 25px;
  }
}
/****header****/
header {
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  width: 110px;
  height: 120px;
  margin: 5px;
  padding: 5px;
}
header nav ul {
  list-style-type: none;
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
header nav ul li {
  margin: 5px;
  padding: 30px;
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}

/*TABLET*/
@media (max-width: 768px) {
  header {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  header nav ul {
    list-style-type: none;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  header nav ul li {
    padding: 2px;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
  }
}
/*MOBILE*/
@media (max-width: 320px) {
  header {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  header nav ul {
    list-style-type: none;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  header nav ul li {
    padding: 10px;
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
  }
}
/****footer****/
footer {
  background-color: #FBDA61;
  background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 0;
}
footer .footercolumns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 20px;
}
footer .footercolumns .titulofooter {
  margin: 5px;
  padding: 2px;
  font-style: italic;
  font-weight: 300;
  font-size: 30px;
  text-align: left;
}
footer .footercolumns .footerEnlaces ul {
  margin: 5px;
  padding: 2px;
  list-style: none;
}
footer .footercolumns .footerEnlaces ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
}
footer .footercolumns .footerPagos ul {
  margin: 5px;
  padding: 2px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
footer .footercolumns .footerPagos ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  text-align: left;
}
footer .footercolumns .footerPagos ul li img {
  width: 70px;
  margin-right: 10px;
}
footer .footercolumns .footerRedes ul {
  margin: 5px;
  padding: 2px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
footer .footercolumns .footerRedes ul img {
  margin: 15px;
  padding: 10px;
  width: 80px;
}
footer .footercolumns .footerRedes h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

/*TABLET*/
@media (max-width: 768px) {
  .footercolumns {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 20px;
  }
  .footercolumns .titulofooter {
    margin: 5px;
    padding: 2px;
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    text-align: left;
  }
  .footercolumns .footerRedes h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
  }
}
/*MOBILE*/
@media (max-width: 320px) {
  .footercolumns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 20px;
  }
  .footercolumns .footerRedes h3 {
    margin: 5px;
    padding: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
  }
  .footercolumns .footerEnlaces ul {
    margin: 5px;
    padding: 2px;
  }
  .footercolumns .footerEnlaces ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 22.5rem;
    text-align: left;
    padding: 5px;
  }
  .footercolumns .footerPagos ul {
    margin: 5px;
    padding: 2px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  .footercolumns .footerPagos ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: left;
  }
  .footercolumns .footerPagos ul li img {
    width: 50%;
    margin-right: 10px;
  }
}
/**INDEX*/
/****Portada****/
.portada {
  height: 40vh;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portada .tituloportada {
  margin: 5px;
  padding: 2px;
}
.portada h1 {
  margin: 5px;
  padding: 2px;
  font-style: italic;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
}
.portada h2 {
  margin: 5px;
  padding: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  max-width: 90%;
  margin: 30px 0;
}

/****Sección Productos****/
#productos {
  margin: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#productos h2 {
  font-style: italic;
  font-weight: 500;
  font-size: 35px;
  text-align: left;
}
#productos p {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  text-align: left;
}
#productos img {
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
}
#productos article {
  margin: 10px;
  padding: 5px;
}

.Producto1 {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 80px;
  box-shadow: rgba(38, 38, 60, 0.25) 0px 6px 12px -2px, rgba(7, 7, 7, 0.3) 0px 3px 7px -3px;
}

.Producto2 {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 80px;
  box-shadow: rgba(38, 38, 60, 0.25) 0px 6px 12px -2px, rgba(7, 7, 7, 0.3) 0px 3px 7px -3px;
}

.Producto3 {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 80px;
  box-shadow: rgba(38, 38, 60, 0.25) 0px 6px 12px -2px, rgba(7, 7, 7, 0.3) 0px 3px 7px -3px;
}

/*TABLET*/
@media (max-width: 768px) {
  /*Index*/
  .palabra {
    font-weight: 800;
  }
  .Producto1 {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 80px;
    box-shadow: rgba(38, 38, 60, 0.25) 0px 6px 12px -2px, rgba(7, 7, 7, 0.3) 0px 3px 7px -3px;
  }
  .Producto2 {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 80px;
    box-shadow: rgba(38, 38, 60, 0.25) 0px 6px 12px -2px, rgba(7, 7, 7, 0.3) 0px 3px 7px -3px;
  }
  .Producto3 {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 80px;
    box-shadow: rgba(38, 38, 60, 0.25) 0px 6px 12px -2px, rgba(7, 7, 7, 0.3) 0px 3px 7px -3px;
  }
  #productos h2 {
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
  }
  #productos p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
  }
  #productos img {
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
  }
}
/*MOBILE*/
@media (max-width: 320px) {
  /*Index*/
  .palabra {
    font-weight: 800;
  }
  .Producto1 {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    box-shadow: rgba(38, 38, 60, 0.25) 0px 6px 12px -2px, rgba(7, 7, 7, 0.3) 0px 3px 7px -3px;
  }
  .Producto2 {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    box-shadow: rgba(38, 38, 60, 0.25) 0px 6px 12px -2px, rgba(7, 7, 7, 0.3) 0px 3px 7px -3px;
  }
  .Producto3 {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    box-shadow: rgba(38, 38, 60, 0.25) 0px 6px 12px -2px, rgba(7, 7, 7, 0.3) 0px 3px 7px -3px;
  }
  #productos {
    margin-top: 2px;
  }
  #productos h2 {
    font-style: italic;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
  }
  #productos p {
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
  }
  #productos img {
    border-radius: 50px;
  }
  .portada {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .portada h1 {
    font-style: italic;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
  }
  .portada h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
  }
}
/****Página:Quienes Somos****/
#presentacion {
  margin: 50px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#presentacion h1 {
  margin: 15px;
  padding: 20px;
  font-style: italic;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
}

.parrafo {
  margin: 20px;
  padding: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  text-align: justify-content;
  line-height: 40px;
}

/*TABLET*/
@media (max-width: 768px) {
  #presentacion {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  #presentacion h1 {
    margin: auto;
    padding: auto;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
  }
  .parrafo {
    margin: auto;
    padding: auto;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    text-align: justify-content;
    line-height: 30px;
  }
}
/*MOBILE*/
@media (max-width: 320px) {
  /*Página=quienes somos*/
  #presentacion {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  #presentacion h1 {
    margin: auto;
    padding: auto;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    text-align: left;
  }
  .parrafo1 {
    margin: auto;
    padding: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    text-align: left;
    line-height: 25px;
  }
}
/****Pagina=Productos****/
.tituloprincipal {
  font-style: italic;
  font-weight: 800;
  font-size: 50px;
  text-align: left;
  margin: 30px;
  padding: 20px;
}

#productosdestacados {
  margin: 30px;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  column-gap: 30px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  height: auto;
}
#productosdestacados figure {
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(9, 9, 9, 0.5);
  cursor: pointer;
}
#productosdestacados figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-in-out;
}
#productosdestacados .tortas {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#productosdestacados .tortas .titulo_torta {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 45, 54, 0.6);
  transition: all 500ms ease-in-out;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}
#productosdestacados .tortas .titulo_torta h2 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-in-out;
}
#productosdestacados .tortas figure:hover > .titulo_torta {
  opacity: 1;
  visibility: visible;
}
#productosdestacados .tortas figure:hover > .titulo_torta h2 {
  margin-top: 70px;
  margin-bottom: 15px;
}
#productosdestacados .tortas figure:hover > img {
  transform: scale(1.3);
}
#productosdestacados .postres {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#productosdestacados .postres .titulo_postres {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 45, 54, 0.6);
  transition: all 500ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
#productosdestacados .postres .titulo_postres h2 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-in-out;
}
#productosdestacados .postres figure:hover > .titulo_postres {
  opacity: 1;
  visibility: visible;
}
#productosdestacados .postres figure:hover > .titulo_postres h2 {
  margin-top: 70px;
  margin-bottom: 15px;
}
#productosdestacados .postres figure:hover > img {
  transform: scale(1.3);
}
#productosdestacados .fiestas {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#productosdestacados .fiestas .titulo_fiestas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 45, 54, 0.6);
  transition: all 500ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
#productosdestacados .fiestas .titulo_fiestas h2 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-in-out;
}
#productosdestacados .fiestas figure:hover > .titulo_fiestas {
  opacity: 1;
  visibility: visible;
}
#productosdestacados .fiestas figure:hover > .titulo_fiestas h2 {
  margin-top: 70px;
  margin-bottom: 15px;
}
#productosdestacados .fiestas figure:hover > img {
  transform: scale(1.3);
}
#productosdestacados .cookies {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#productosdestacados .cookies .titulo_cookies {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 45, 54, 0.6);
  transition: all 500ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
#productosdestacados .cookies .titulo_cookies h2 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-in-out;
}
#productosdestacados .cookies figure:hover > .titulo_cookies {
  opacity: 1;
  visibility: visible;
}
#productosdestacados .cookies figure:hover > .titulo_cookies h2 {
  margin-top: 70px;
  margin-bottom: 15px;
}
#productosdestacados .cookies figure:hover > img {
  transform: scale(1.3);
}

.tartas {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tartas .titulo_tartas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 45, 54, 0.6);
  transition: all 500ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.tartas .titulo_tartas h2 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-in-out;
}
.tartas figure:hover > .titulo_tartas {
  opacity: 1;
  visibility: visible;
}
.tartas figure:hover > .titulo_tartas h2 {
  margin-top: 70px;
  margin-bottom: 15px;
}
.tartas figure:hover > img {
  transform: scale(1.3);
}

.variedades {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.variedades .titulo_variedades {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 45, 54, 0.6);
  transition: all 500ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.variedades .titulo_variedades h2 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-in-out;
}
.variedades figure:hover > .titulo_variedades {
  opacity: 1;
  visibility: visible;
}
.variedades figure:hover > .titulo_variedades h2 {
  margin-top: 70px;
  margin-bottom: 15px;
}
.variedades figure:hover > img {
  transform: scale(1.3);
}

/*TABLET*/
@media (max-width: 768px) {
  .tituloprincipal {
    margin: 15px;
    padding: 10px;
    font-style: italic;
    font-weight: 600;
    font-size: 40px;
    text-align: left;
  }
  #productosdestacados {
    margin: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    height: auto;
  }
  #productosdestacados .tortas {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #productosdestacados .postres {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #productosdestacados .fiestas {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #productosdestacados .variedades {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/*MOBILE*/
@media (max-width: 320px) {
  .tituloprincipal {
    margin: 15px;
    padding: 5px;
    font-style: italic;
    font-weight: 600;
    font-size: 40px;
    text-align: left;
  }
  #productosdestacados {
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 1fr;
    column-gap: 1px;
    row-gap: 30px;
    height: auto;
    justify-content: center;
  }
  #productosdestacados img {
    width: auto;
    height: auto;
  }
}
/****Página=proximamente****/
.proximamente {
  margin: 60px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: justify content;
}
.proximamente h1 {
  font-style: italic;
  font-weight: 800;
  font-size: 50px;
  text-align: left;
  margin: 10px;
  padding: 10px;
}
.proximamente h2 {
  font-style: italic;
  font-weight: 500;
  font-size: 35px;
  text-align: left;
  margin: 10px;
  padding: 10px;
}

/*TABLET*/
@media (max-width: 768px) {
  .proximamente {
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .proximamente h1 {
    margin: auto;
    padding: auto;
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    text-align: left;
  }
  .proximamente h2 {
    margin: auto;
    padding: auto;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
  }
}
/*MOBILE*/
@media (max-width: 320px) {
  .proximamente {
    height: 80vh;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .proximamente h1 {
    margin: 0;
    padding: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 1.5em;
    text-align: left;
  }
  .proximamente h2 {
    margin: 0;
    padding: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
  }
}
/****Pagina=Contacto****/
#formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 25px;
  padding: 20px;
}
#formulario .contactanos h1 {
  margin: 15px;
  padding: 10px;
  font-style: italic;
  font-weight: 800;
  font-size: 50px;
  text-align: left;
}
#formulario .contactanos h2 {
  margin: 15px;
  padding: 10px;
  font-style: italic;
  font-weight: 500;
  font-size: 35px;
  text-align: left;
}
#formulario fieldset {
  margin: 20px;
  padding: 15px;
  font-style: italic;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: left;
}
#formulario fieldset .comentario textarea {
  width: 50%;
  height: 200px;
}

/*TABLET*/
@media (max-width: 768px) {
  #formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
    padding: 15px;
  }
  #formulario .contactanos h1 {
    margin: auto;
    padding: auto;
    font-style: italic;
    font-weight: 700;
    font-size: 35px;
    text-align: left;
  }
  #formulario .contactanos h2 {
    margin: auto;
    padding: auto;
    font-style: italic;
    font-weight: 500;
    font-size: 2rem;
    text-align: left;
  }
  #formulario fieldset {
    margin: auto;
    padding: auto;
    font-style: italic;
    font-weight: 500;
    font-size: 2rem;
    text-align: left;
  }
}
/*MOBILE*/
@media (max-width: 320px) {
  #formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
    padding: 20px;
  }
  #formulario .contactanos h1 {
    margin: auto;
    padding: auto;
    font-style: italic;
    font-weight: 700;
    font-size: 35px;
    text-align: left;
  }
  #formulario .contactanos h2 {
    margin: auto;
    padding: auto;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    text-align: left;
  }
  #formulario fieldset {
    margin-left: 5px;
    font-style: italic;
    font-weight: 500;
    font-size: 2rem;
    text-align: left;
  }
  #formulario fieldset .comentario textarea {
    margin-left: 5px;
    width: 250px;
    height: 150px;
  }
}

/*# sourceMappingURL=stylefinal.css.map */
